.index-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #ffffff; 
  }
  

  .index-logo {
    width: 400px; 
    margin-bottom: 10px;
    margin-top: -90px; 
  }
  

  .input-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 20px; 
  }
  
 
  .index-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px; 
  }
  
  
  .button-container {
    display: flex;
  }
  
  
  .index-button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #192e66; 
    color: white; 
    margin: 0 5px; 
  }
  
  .index-button:hover {
    background-color: #2980b9; 
  }
  /* Media query for smaller screens */
@media (max-width: 767px) {
  .index-form {
    padding: 20px; 
  }

  .index-logo {
    width: 150px; 
  }

  .index-input {
    font-size: 14px; 
  }

  .index-button {
    font-size: 16px; 
  }
  .input-container {
   padding: 5px;
  }
}